*{
  margin: 0;
  padding: 0;
}
.App{
    display:flex;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:aquamarine; */
    height: 100vh;
    width: 100vw;
}